<% layout("/layouts/boilerplate") %>

<div id="filters">
<a href="/listings?search=<%= search || '' %>&category=Trending" class="filter">
    <div><i class="fa-solid fa-fire"></i></div>
    <p>Trending</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Rooms" class="filter">
    <div><i class="fa-solid fa-bed"></i></div>
    <p>Rooms</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Iconic City" class="filter">
    <div><i class="fa-solid fa-city"></i></div>
    <p>Iconic City</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Mountains" class="filter">
    <div><i class="fa-solid fa-mountain"></i></div>
    <p>Mountains</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Castles" class="filter">
    <div><i class="fa-brands fa-fort-awesome"></i></div>
    <p>Castles</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Amazing Pools" class="filter">
    <div><i class="fa-solid fa-water-ladder"></i></div>
    <p>Amazing Pools</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Camping" class="filter">
    <div><i class="fa-solid fa-campground"></i></div>
    <p>Camping</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Farms" class="filter">
    <div><i class="fa-solid fa-tractor"></i></div>
    <p>Farms</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Arctic" class="filter">
    <div><i class="fa-regular fa-snowflake"></i></div>
    <p>Arctic</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Dome" class="filter">
    <div><i class="fa-solid fa-igloo"></i></div>
    <p>Dome</p>
</a>

<a href="/listings?search=<%= search || '' %>&category=Boats" class="filter">
    <div><i class="fa-solid fa-ship"></i></div>
    <p>Boats</p>
</a>

  <div class="tax-toggle">
    <div class="form-check form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switchCheckDefault">

      <label
        class="form-check-label"
        for="switchCheckDefault">
        Display total after taxes
      </label>
    </div>
  </div>

</div>

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 mt-3">

<% for(let listing of allListings){ %>

<div class="col">

<a href="/listings/<%= listing._id %>" class="listing-link">

<div class="card h-100 listing-card">

<img
src="<%= listing.image.url %>"
class="card-img-top"
alt="listing_image">

<div class="card-img-overlay"></div>

<div class="card-body">

<p class="card-text">

<b><%= listing.title %></b>

<br>

&#8377;<%= listing.price.toLocaleString("en-IN") %> / night

<span class="tex-info">
&nbsp;&nbsp;+18% GST
</span>

</p>

</div>

</div>

</a>

</div>

<% } %>

</div>

<script>

const textSwitch = document.getElementById("switchCheckDefault");

textSwitch.addEventListener("click", () => {

let texInfo = document.getElementsByClassName("tex-info");

for(let info of texInfo){

if(info.style.display !== "inline"){

info.style.display = "inline";

}else{

info.style.display = "none";

}

}

});

</script>